
#vim-iframe {
    /* background-color: red; */

    width: calc((1.429 * 40vw));
    height: calc((1.429 * 40vh));

    /* filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.283));
    transition: filter 200ms cubic-bezier(0.4, 0, 0.2, 1); */
}


@media screen and (max-width: 1025px) {
    #vim-iframe {
        width: calc(1.429 * 60vw);
        height: calc(1.429 * 40vh);
    }
}