
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wdth,wght@62.5,500&display=swap'); */

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    margin: 0;
    min-width: 320px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

#tip-html p {
    margin: 0 0 1em 0;
    /* text-align: center; */
}

#vim-terminal {
    /* width: calc(70vw - 25px);
    height: calc(60vh - 25px); */
    text-align: center;
    background-color: #00000000;
    align-content: center;
    justify-items: center;
}

#vim-canvas {
    padding: 0px;
    margin: 0px;
    width: calc(70vw - 50px);
    height: calc(60vh - 50px);
    background-color: #333333;
}


@media screen and (max-width: 600px) {
    #vim-canvas {
        padding: 10px;
        margin: 0px;
        width: calc(90vw - 50px);
        height: calc(60vh - 50px);
        background-color: #333333;
    }
}

#vim-input {
    width: 1px;
    color: transparent;
    background-color: transparent;
    padding: 0px;
    border: 0px;
    outline: none;
    vertical-align: middle;
    position: absolute;
    top: 0px;
    left: 0px;
}

#vim-cursor {
    padding: 0px;
    margin: 0px;
    position: absolute;
    display: none; /* TODO */
}

