
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    margin: 0;
    min-width: 320px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #FAFAFA;
}

:root.dark {
    background-color: #3C3C3C;
}

body {
    margin: 0;
}

code {
    /* https://stackoverflow.com/a/64133415/2083958 */
    font-family: 'SF Mono', SFMono-Regular, ui-monospace,
    'DejaVu Sans Mono', Menlo, Consolas, monospace;
    padding: 0.2em;
    border-radius: 0.4em;
    background-color: #bfbfbf24;
}

:root.dark code {
    background-color: #00000024;
}


#tip-html p {
    margin: 0 0 1em 0;
    /* text-align: center; */
}

#vim-terminal {

    text-align: center;
    background-color: #00000000;
    align-content: center;
    justify-items: center;
    position: relative;
}

#vim-canvas {
    padding: 0px;
    margin: 0px;
    width: calc(1.429 * 40vw);
    height: calc(1.429 * 40vh);
    background-color: #333333;
    image-rendering: pixelated;
}


@media screen and (max-width: 600px) {
    #vim-canvas {
        padding: 10px;
        margin: 0px;
        width: calc(90vw - 50px);
        height: calc(60vh - 50px);
        background-color: #333333;
    }
}

#vim-input {
    width: 1px;
    color: transparent;
    background-color: transparent;
    padding: 0px;
    border: 0px;
    outline: none;
    vertical-align: middle;
    position: absolute;
    top: 0px;
    left: 0px;
}

#vim-cursor {
    padding: 0px;
    margin: 0px;
    position: absolute;
    display: none;
}
